@import "tailwindcss";

@theme {
  --color-inverse-primary: #7e29df;
  --color-primary-dim: #9547f7;
  --color-primary: #c59aff;
  --color-secondary-fixed: #00f4fe;
  --color-on-secondary: #00575b;
  --color-surface-variant: #24252d;
  --color-on-secondary-fixed-variant: #006266;
  --color-tertiary-fixed-dim: #f1f1f1;
  --color-surface-tint: #c59aff;
  --color-on-tertiary-fixed: #4f5051;
  --color-on-primary-fixed-variant: #3f007c;
  --color-error-container: #a70138;
  --color-outline-variant: #47474e;
  --color-on-surface-variant: #abaab1;
  --color-on-primary-fixed: #000000;
  --color-tertiary: #f9f9f9;
  --color-surface: #0d0e13;
  --color-surface-container-low: #121319;
  --color-secondary-fixed-dim: #00e5ee;
  --color-on-primary: #420082;
  --color-secondary-dim: #00e5ee;
  --color-on-tertiary-fixed-variant: #6c6d6d;
  --color-on-secondary-fixed: #004346;
  --color-primary-fixed: #ba88ff;
  --color-on-tertiary-container: #555757;
  --color-on-error-container: #ffb2b9;
  --color-surface-container-highest: #24252d;
  --color-background: #0d0e13;
  --color-tertiary-fixed: #ffffff;
  --color-tertiary-dim: #ebebeb;
  --color-inverse-surface: #faf8ff;
  --color-on-surface: #f7f5fd;
  --color-on-background: #f7f5fd;
  --color-outline: #75757b;
  --color-secondary: #00f4fe;
  --color-on-secondary-container: #dffdff;
  --color-primary-fixed-dim: #b075ff;
  --color-surface-bright: #2a2c34;
  --color-on-tertiary: #5e5f5f;
  --color-error: #ff6e84;
  --color-error-dim: #d73357;
  --color-secondary-container: #00696e;
  --color-surface-dim: #0d0e13;
  --color-surface-container-lowest: #000000;
  --color-on-primary-container: #330066;
  --color-tertiary-container: #ebebeb;
  --color-surface-container-high: #1e1f26;
  --color-primary-container: #ba88ff;
  --color-on-error: #490013;
  --color-surface-container: #181920;
  --color-inverse-on-surface: #54545b;

  --font-headline: var(--font-plus-jakarta-sans), sans-serif;
  --font-body: var(--font-manrope), sans-serif;
  --font-label: var(--font-plus-jakarta-sans), sans-serif;
}

:root {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.aureum-glow {
  box-shadow: 0 20px 40px rgba(197, 154, 255, 0.08);
}

.text-gradient {
  background: linear-gradient(to right, var(--color-primary), var(--color-primary-dim));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
